@import url(../../../../common-resources/reset.css);
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@700;800&display=swap');
body{
  font-family: 'Heebo', sans-serif;
}

main {
  height: 100vh;
  display: flex;
  flex-direction: row;
}

main > div {
  width: 50%;
}

.left {
  background-image: url(assets/TurkishOkey.jpg);
  background-size: cover;
  background-position: center;
}

.right {
  background-color: aliceblue;
  padding: 32px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  font: 3em;

  overflow: scroll;
  background-color: aliceblue;
}

.right h1 {
  font-size: 4em;
}

.spacer {
  flex: 0 0 10rem;
}

p.lettrine::first-letter {
  font-size: 2em;
  padding-right: 1px;
  line-height: 1rem;
}

.title-block {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.title-block img {
  height: 200px;
}

.title-block .text {
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
}

.title-block .text .separator {
  width: 80px;
  height: 8px;
  background-color: rgb(219, 218, 211);
}

header {
  position: fixed;
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  /* justify-content: space-between; */
  padding: 8px;
}

/* -> Gestion de l'espace du header -> */
header .logo,
header .actions {
  flex: 1;
}

.logo-icon {
  aspect-ratio: 1 / 1;
  width: 64px;
  height: 64px;
  background-color: rgb(219, 218, 211);

  -webkit-mask-image: url(assets/icone1.svg);
  -webkit-mask-size: contain;
  -webkit-mask-repeat: no-repeat;

  transition: all 0.1s ease-in-out;
  cursor: pointer;
}

.logo-icon:hover {
  background-color: #6a6e69;
}
