@import url(https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap);
@import url(../../common-resources/reset.css);
@import url(../../common-resources/layout/layout.css);
@import url(layout.css);

:root {
  --accent-color-rgb: 0, 51, 255;
  --accent-font-color-rgb: 255, 255, 255;
}

body {
  font-family: 'Barlow Condensed', sans-serif;
  padding: 64px;
}

body * {
  position: relative;
}

main * {
  display: flex;
  flex: 1;
}

main .info-row {
  flex-direction: row;
}

main .info-row > div {
  padding: .25em;
}

main .info-row > div:nth-child(2n) {
  background-color: #9992;
}

main .info-row-separator {
  height: 1px;
  background: #0009;
}

main .info-row .grade {
  padding: 2px;
  cursor: none;
}

main .info-row .grade > div {
  border-radius: 2px;
}

main .info-row .grade:hover > div {
  background-color: rgb(var(--accent-color-rgb));
  color: rgb(var(--accent-font-color-rgb));
}


.overlay {
  padding: 4em;
}

.info-block {
  position: absolute;

  padding: 40px;
  box-shadow: 
    0px 4px 32px rgb(var(--accent-color-rgb), 50%),
    0px 1px 8px rgb(var(--accent-color-rgb), 50%);

  background-color: rgb(var(--accent-color-rgb));
  color: rgb(var(--accent-font-color-rgb));

  border-radius: 4px;
}

.info-block.hidden {
  visibility: hidden;
  pointer-events: none;
}

.info-block h3 {
  padding-bottom: 1em;
}

.info-block .small {
  font-size: .8em;
  opacity: .75;
  padding-top: 1em;
}

.underline::before {
  content: '';
  position: absolute;
  width: 30%;
  height: 1px;
  bottom: 0;
  background-color: currentColor;
}

.vertical-text {
  display: flex;
  padding: .5em 0 !important;
  justify-content: flex-start;
  align-items: center;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
}
