
header{
    position:fixed;
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 64px;
}




header .logo-icon {
    height: 128px;
    aspect-ratio: 1 / 1;
    background-color: white;
    transition: all 0.6s ease-in-out;

    -webkit-mask-image: url(assets/logo.svg);
    mask-image: url(assets/logo.svg);
    -webkit-mask-size: contain;
    mask-size: contain;
}

header .logo-icon:hover {
    scale: 1.2;
    
}




header .shop {
    height: 64px;
    aspect-ratio: 1 / 1;
    background-color: #D64747;
    transition: all 0.6s ease-in-out;

    -webkit-mask-image: url(assets/shop.svg);
    mask-image: url(assets/shop.svg);
    -webkit-mask-size: contain;
    mask-size: contain;
    -webkit-mask-position: center;
    mask-position: center;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
}

header .shop:hover {
    scale: 1.2;
}