
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url(header.css);
@import url(responsive.css);
@import url(../../../../common-resources/reset.css);


:root{
  --txt: #071629;
  --bg: aliceblue;
  --accent: #D64747;
}

:root.dark{
  --txt: aliceblue;
  --bg: #020d1b;
  --accent: #D64747;
}

*::-webkit-scrollbar{
  display: none;
}


body, body * {
  margin:0;
  font-family: 'Open Sans', sans-serif, bold;
  color: var(--txt);
}


section.base{
  height: 100vh;
  display: flex;
  flex-direction: row;
}

div.left{
  width: 50%;
  background-size: cover;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.0)),
  url(assets/eau.jpg);
}




div.right{
  width: 50%;
  padding: 64px;
  padding-right: 128px;
  display: flex;
  flex-direction: column;
  gap: 48px;
  font-size: 1rem;
  overflow: scroll;
  background-color: var(--bg);
  transition: all .5s ease-in-out;

}


h1{
  font-size: 5rem;
  margin-bottom: 250px;
}




div.slt{
  display: flex;
  flex-direction: row;
  gap: 32px;
}


img{
  width: 300px;
  transition: all .5s ease-in-out;
}
img:hover{
  filter: hue-rotate(140deg);
}


h2{
  font-size: 3rem;
  margin-top: -1rem;
  color: var(--txt);
  transition: all 1s ease-in-out;
}
h2:hover{
  color: var(--accent);
}

h3{
  font-size: 1.3rem;
  transition: all 1s ease-in-out;
}


div.tg{
  display: flex;
  flex-direction: column;
  gap: 32px;
}


div.trait{
  transition: all 1s ease-in-out;
  border-top: 12px solid var(--accent);
  width: 172px;
}

div.trait:hover{
  width: 730px;
}



#martin{
  transition: all 1s ease-in-out;
  font-size:1rem;
}
#martin:hover{
  font-size: 1.5rem;
}


#graig{
  transition: all 1s ease-in-out;
}
#graig:hover{
  letter-spacing: 4px;
}


#safia{
  transition: all 1s ease-in-out;
  column-count: 3;
  column-gap: 2em;
  text-align: justify;
}
#safia:hover{
  column-gap:0em;
}