@import url(../../../common-resources/reset.css);
@import url(../../../common-resources/layout/layout.css);
@import url(sah-bud.css);

section {
  height: 100vh;
  display: flex;
  justify-content: center;
  font-size: 4em;
  color: aliceblue;
  padding: 2em;
}

section:nth-child(1) {
  background-color:  rgb(20, 25, 94);;
}

section:nth-child(2) {
  background-color: rgb(16, 84, 255);
}

.overlay {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay .bud {

  --size: 800px;
  flex: 0 0 var(--size);
  height: var(--size);
  border: solid 1px rgb(103, 252, 239);
}

.overlay .bud .layer {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}
