@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Comfortaa:wght@300&family=Cormorant+Garamond:wght@300&family=Crimson+Text&family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:wght@300&family=Ruda:wght@400;500;600;700;800;900&display=swap');

.user-input {
  transform: translateY(-50);
}

.user-input input{
  width: 100%;
  text-align: center;
  background-color: transparent;
  border: none;
  outline: none;
  font-family: 'Cinzel', serif;
  font-size: 10em;
  font-weight: 800;
  color: white;
}

.user-input::placeholder{
  color:white;
  font-weight: 600;
}

.game-output {
  font-family: 'Cinzel', serif;
  font-size: 4em;
  font-weight: 600;
  color: white;

  transition:  all 0.3s ease-in-out;
}

.game-output.hidden {
  opacity: 0;
  pointer-events: none;
}