@import url(https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap);
@import url(../../../common-resources/reset.css);

:root {
  font-family: 'Fira Code', monospace;
  background-color: #111;
}

:root:fullscreen {
  cursor: none;
}

main {
  &, & iframe {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
  }
}

iframe {
  transition: 
    transform 1s cubic-bezier(0.25, 0, 0.25, 1),
    opacity 1s cubic-bezier(0.75, 0, 0.25, 1);
}

iframe.hidden {
  transform: scale(1.05);
  opacity: 0;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 56px;
  
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 1em;
  color: white;
  font-size: .75em;
  letter-spacing: .15em;
  
  button.fullscreen {
    --size: 3em;

    position: absolute;
    top: 0;
    right: 0;
    margin: 0.5em;

    width: var(--size);
    height: var(--size);
    background-color: white;
    border: none;

    mask-image: url(../../../common-resources/assets/baseline-fullscreen.svg);
    -webkit-mask-image: url(../../../common-resources/assets/baseline-fullscreen.svg);
    mask-size: contain;
    -webkit-mask-size: contain;

    cursor: pointer;

    :root:fullscreen & {
      display: none;
    }
  }
}