@import url(../../../../common-resources/reset.css);
@import url(user-input.css);

main {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: rgb(0, 29, 21);
    overflow: hidden;
}

.art {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.arrow {
    --angle: 160deg;
    position: absolute;
    width: 100%;
    height: 8%;

    display: flex;
    flex-direction: row;
}

.arrow.up {
    top: 75%;
}

.arrow.down {
    bottom: 75%;
}

.arrow > div {
    flex: 1;
    align-self: stretch;
  }


/* UP */
.arrow.up > div {
    background-image: linear-gradient(
        rgba(0, 133, 95, 0.877), 
        rgba(52, 0, 100, 0));
  }
  
  .arrow.up > .left {
    transform: skewY(calc(var(--angle) * -1));
    transform-origin: top right;
  }
  
  .arrow.up > .right {
    transform: skewY(var(--angle));
    transform-origin: top left;
  }
  
  /* DOWN: */
  .arrow.down > div {
    background-image: linear-gradient(
        rgba(52, 0, 100, 0),
      rgba(0, 133, 95, 0.877));
  }
  
  .arrow.down > .left {
    transform: skewY(var(--angle));
    transform-origin: top right;
  }
  
  .arrow.down > .right {
    transform: skewY(calc(var(--angle) * -1));
    transform-origin: top left;
  }