.pdp{
  --scroll:0;
}

.pdp .core {
   opacity: var(--scroll);
  transform: scale(calc(80% + 20% * (var(--scroll))));
}

.pdp .petal-a{
  opacity: var(--scroll);
  transform: translate(94px, -94px);
}

.pdp .petal-a {
  opacity: var(--scroll);
  transform: 
    translate(94px,-94px)
    translate(
      calc(-50px * (1 - var(--scroll))),
      calc(50px * (1 - var(--scroll))));
}