@import url(https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=block);

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 8px;
  z-index: 10;
}

header .title {
  padding: 0 8px;
  display: flex;
  align-items: center;
  font-family: 'Fira Code', monospace;
  font-size: .66em;
  letter-spacing: .2em;
}


header .icon {
  width: 2em;
  height: 2em;
  background-color: currentColor;
  opacity: .33;

  --url: url(../assets/baseline-fullscreen.svg);
  mask-image: var(--url);
  mask-size: contain;
  -webkit-mask-image: var(--url);
  -webkit-mask-size: contain;

  transition: opacity .3s ease-out;
  cursor: pointer;
}

header .icon:hover {
  opacity: 1;
  transition: opacity .1s ease-out;
}

body:fullscreen header .icon {
  --url: url(../assets/baseline-fullscreen-exit.svg);
}
