@import url(../../../common-resources/reset.css);
@import url(../../../common-resources/layout/spacing.css);
@import url(colorful.css);
@import url(header.css);

:root {
  scroll-behavior: none;
  overscroll-behavior: none;
}

body {
  width: 100vw;
  height: 100vh;
}

main {
  position: absolute;
}

.art-container {
  position: absolute;
}

.drag-highlight {
  position: fixed;
  inset: 0;
  z-index: 100;
  border-style: solid;
  border-width: 0;
  border-color: currentColor;
  opacity: 0;
  pointer-events: none;
  transition: 
    opacity .3s ease-out,
    border-width .1s linear;
}

:root.dragged .drag-highlight {
  opacity: 1;
  border-width: 8px;
}
