@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');
@import url(responsive.css);

/* GENERAL HEADER */
header{
    width: 100%;
    height: 70px;
    position: fixed;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    padding: 10px;
}

/* LOGO */
header div.logo{
    display: flex;
    flex-direction: row;
    gap: 10px;

}

header .connexion {
    display: flex;
    flex-direction: row;
}

header h1{
    font-family: 'Oswald', sans-serif; 
    font-size: 5em;
    text-transform: uppercase;
}

.icon {
    --image-url: url(assets/flower-outline.svg);

    -webkit-mask-image: var(--image-url);
    -webkit-mask-size: contain;
    -webkit-mask-position: center;
    -webkit-mask-repeat: no-repeat;
    mask-image: url();
    mask-size: contain;
    mask-position: center;
    mask-repeat: no-repeat;

    width: 50px;
    height: 50px;
}

.icon-1 {
    background-color:rgba(243, 243, 243, 0.87);
}

.icon-2 {
    --image-url: url(assets/log-off.svg);
    background-color: var(--accent-color);
}

.icon:hover{
    transform: scale(1.05,1.05);
}

.icon-1:hover{
    background-color:var(--accent-color);
}

.theme-button {
    --image-url: url(assets/bulb-sharp.svg);
    background-color: var(--accent-color);

}