@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');


/* GENERAL HEADER */
header{
    width: 100%;
    position: fixed;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    padding: 20px;
}

/* LOGO */
header div.logo{
    display: flex;
    flex-direction: row;
    align-self: stretch;
    gap: 10px;

}

header h1.titre{
    font-size: 50px;
    
}