@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');
@import url(../../../../common-resources/reset.css);
@import url(header.css);

/* RESET CSS */
body, body *{
    box-sizing: border-box;

    margin: unset;
    
    font-family: 'Raleway', sans-serif;
    font-size: 25px;
}

p::first-letter{
    font-size: 1.5em;
}

/* SECTION INTRO */
section.intro { 
    display: flex;
    flex-direction: row;
    height: 100VH;
}

/* GAUCHE */
section.intro div.gauche {
    width: 50%;
    height: 100VH;
    background-image: url(assets/téléchargement.jpeg);
    background-size: cover;
    background-position: center;

    
}

/* DROITE */
section.intro div.droite{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    
    gap: 50px;
    padding: 60px;

    overflow: scroll;
}


div.droite h1{
     text-transform: uppercase;
     font-size: 80px;

     margin-bottom: 200px;
}


div.presentation{
    display: flex;
    flex-direction: row;
    height: 40%;
    
}


div.text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    
    padding: 10px;
    gap: 15px;
    
}

div.text h1{
    text-transform: none;
    margin: unset;
}


div.tiret{
    background-color: rgba(110, 164, 207, 0.829);
    height: 10px;
    width: 25%;
}
