@import url(../../../../../common-projects/eclosion/style/style.css);
@import url(eclosion.css);

.lds {
  --background-color-1: #2d2d35;
  --background-color-2: #1a1921;
}

.lds main section:nth-child(1) {
  background-image: linear-gradient(var(--background-color-1) 70%, var(--background-color-2));
}

.lds main section:nth-child(2) {
  background-color: var(--background-color-2);
}
