@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

/* Reset CSS */
body, body * {
  margin: unset;
}



body {
  font-family: 'Roboto Mono', monospace;
  background-color: rgb(122, 233, 185);
}

h1 {
  font-family: 'Oswald', sans-serif;
}

div.gallery {
  height: 360px;
  padding: 32px;
  display: flex;
  flex-direction: row;
  gap: 32px;
}




div.icons {
  margin: 16px;
  border: solid 2px #fff;
  border-radius: 12px;
  padding: 4px;
  display: flex;
  flex-direction: row;
  gap: 4px;
}

div.icon {
  width: 64px;
  height: 64px;
  background-color: #fff6;
  background-size: contain;
  border-radius: 8px;
}

div.icon-1 {
  background-image: url(assets/send-plane-fill.svg);
}

div.icon-2 {
  background-image: url(assets/cat-bold.svg);
}
