
.sah {
  --scroll: 0;
}

.sah .core {
  opacity: var(--scroll);
  transform: 
  scale(calc(80% + 15% * var(--scroll)));
}

.sah .petal-b {

  --angle: 0deg;
  opacity: calc(0.4 * var(--scroll));
  transform: 
    rotate(var(--angle))
    scale(calc(70% + 30% * var(--scroll)))
    translate(94px, -94px)
      translate(
        calc(-50px * (1 - var(--scroll))), 
        calc(50px * (1 - var(--scroll))));
}

.sah .petal-a {

  --angle: 0deg;
  opacity: var(--scroll);
  transform: 
    rotate(var(--angle))
    scale(calc(70% + 30% * var(--scroll)))
    translate(94px, -94px)
      translate(
        calc(-50px * (1 - var(--scroll))), 
        calc(50px * (1 - var(--scroll))));
}

