:root {
  --c1: #fa55ab;
  --c2: #2874fa;
  --c3: #fab728;
  --c4: #45fa78;

  --g1: linear-gradient(var(--c1), var(--c2));
  --g2: linear-gradient(var(--c2), var(--c3));
  --g3: linear-gradient(var(--c3), var(--c4));
  --g4: linear-gradient(var(--c4), var(--c1));
}

:root.horizontal {
  --g1: linear-gradient(0deg, var(--c1), var(--c2));
  --g2: linear-gradient(0deg, var(--c2), var(--c3));
  --g3: linear-gradient(0deg, var(--c3), var(--c1));
}

body {
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  font-size: 24px;
}

main.kev {
  background-image: var(--g2);
}

.kev .color-a {
  background-image: var(--g1);
}
.kev .color-b {
  background-image: var(--g2);
}
.kev .color-c {
  background-image: var(--g3);
}
.kev .color-d {
  background-image: var(--g4);
}

.hori {
  transition: 0.4s ease-in-out;
}
.hori:hover {
  /* transform: translate(20px); */
}

.full {
  transition: 0.4s ease-in-out;
}
.full:hover {
  transform: translate(-20px);
}
