.lds .color-a{

    background-color: #310A31;
}

.lds .color-a-alt {

    background-image: linear-gradient(#551b55, #310A31);
}

.lds .color-b {

    
    background-color: #616caa;
}

.lds .color-b-alt {

    background-image: linear-gradient( #8292e9, #1f2549);
  
}

.lds .color-c {

    background-color: rgb(41, 31, 87);
}

.lds .color-c-alt {

    background-image: linear-gradient(rgb(54, 33, 150), rgb(41, 31, 87));
}