header {
  position: fixed;
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 16px;
  justify-content: space-between;
  z-index: 10;
}

.icon {
    width: 64px;
    height: 64px;
    color: red;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.icon.logo {
    color: black;
    font-size: x-large;
    background-size: contain;
}


.icon.shop {
  -webkit-mask-image: url(assets/shop.svg);
  mask-image: url(assets/shop.svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  mask-size: contain;
  background-color: red;
}
