@import url(../../../common-resources/reset.css);
@import url(header.css);
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    font-family: 'Barlow Condensed', sans-serif;
    font-size: small;

}

img{
    max-width: 40%;
    height: auto;
}

main {
    height: 100vh;
    display: flex;
    flex-direction: row;
}

main > div {
    width: 50%;
}

div.left {
    background-image: url(assets/BigBulle4.jpg);
    background-size: cover;
}

div.right {
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    font-size: 2em;

    overflow: scroll;

    background-color: aliceblue;
}



div.tg{
    display: flex;
    flex-direction: row;
    font-size: large;
    align-items: center;
    margin-top: 26px;
    margin-bottom: 26px;
    gap: 26px;    
}

div.trait{
    border: 5px solid red;
    width: auto;
    
    
}


div.pizza{
    display: flex;
    flex-direction: column;
    gap: 26px;
   
}


div.txt{
    display: flex;
    flex-direction: column;
    font-size: large;
    gap: 32px;
}

p.letterine::first-letter {
    font-size: 2em;
    padding-right: 1px;
    line-height: 1rem;
}

