@import url(responsive2.css);
@import url(left.css);
@import url(header.css);

:root {
    --mdr: black;
    --kouakoubeh: white;
    --accent-color: red;

}

body {
    color: var(--mdr);
}

.right {
    background-color: (var(--kouakoubeh));
}

main  {}
