@import url("https://fonts.googleapis.com/css2?family=Anonymous+Pro&family=Antonio:wght@100&family=Creepster&family=Italianno&family=Monoton&family=Permanent+Marker&family=Roboto:wght@100&display=swap");

.user-input input {
  width: 100%;
  text-align: center;
  background-color: transparent;
  border: none;
  outline: none;
  font-family: "Anonymous Pro", serif;
  font-size: 10em;
  font-weight: 800;
  color: aliceblue;
  transform: translateY(-0.066em);
}

.game-output{
  display: flex;
  justify-content: center;
  align-items: center;


  font-family: "Anonymous Pro", serif;
  font-size: 2em;
  font-weight: 800;
  color: aliceblue;
  transition: all 0.5s ease-in-out;
}

.game-output.hidden{
  pointer-events: none;
  opacity: 0;
}