@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

body, body *{
    margin: unset;

}

body {
    background-color:#5EC293;
    font-family: 'Oswald', sans-serif; 
    font-size: 20px;
    color: aliceblue;

}
p {
    font-size: 40px;
    font-family: 'Raleway', sans-serif;
    color: #21503a;
}

p.t1 {
    font-size: 30px;
    font-family: 'Rubik', sans-serif;

}

div.gallery{
    height: 360px;
    padding: 32px;
    display: flex;
    gap: 2
}

div.icons { 
   margin: 16px;
   border: solid 2px #fff;
   border-radius: 12px;
   padding: 4px;
   flex-direction: row;
   gap:4px;
}

div.icon { 
    height: 64px;
    padding: 64px;
    background-color: #fff6;
    background-size: contain;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}


div.icon:hover{ 
    
background-color: #21503a;
   transform: scale(1.1); rotate: (-5deg);
    animation: duration 0.1em; ;
}

div.icon-1{
    background-image: url(assets/icone1.svg);
}

div.icon-1{
    background-image: url(assets/icone2.svg);
}
div.icon-1{
    background-image: url(assets/icone3.svg);
}

div.icon-1{
    background-image: url(assets/icone4.svg);
}
div.icon-1{
    background-image: url(assets/icone5.svg);
}