@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500&display=swap');

/* Reset CSS */
body, body * {
  margin: unset;
}



body {
    font-family: 'Open Sans', sans-serif;
  background-color: white;
}

h1 {
    font-family: 'Open Sans', sans-serif;
}


img {
    width:30%;
    height:30%;
}


div.icon {
    height:64px;
    width:64px;
background-color: #fff6;
background-image: url(assets/);
}