.demo-gradient{
    padding: 4em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2em;
}

.demo-gradient .swatch {
    --size: 360px;
    width: var(--size);
    height: var(--size);
    background-color: black;
}

.demo-gradient .gradient-1{
    background-image: linear-gradient(blue, orange);
}

.demo-gradient .gradient-2{
    background-image: linear-gradient(60deg,blue, orange);
}

.demo-gradient .gradient-3{
    background-image: radial-gradient(orange 25%, lightblue 75%);
}