@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap');

body, body *{
    margin: 0;
} 

body{
    font-family: 'Source Code Pro', monospace;
}

h1{
    color: blueviolet;
}

p{
    color: blueviolet;
    font-family: 'Source Code Pro', monospace;
}

.gallerie{
    height: 360px;
    padding: 32px;
    display: flex;
    flex-direction: row;
    gap: 32px;
}

.icon{
    width: 64px;
    height: 64px;
    background-color: #7065ac;
    background-image: url(asset/cat-bold-duotone.svg);
}