:root {
  font-size: 16px;
}

@media screen and (orientation: landscape) {
  @media (min-width: 1101px) and (max-width: 1300px) {
    :root {
      font-size: 19px;
    }
  }
  @media (min-width: 1301px) and (max-width: 1600px) {
    :root {
      font-size: 24px;
    }
  }
  @media (min-width: 1601px) {
    :root {
      font-size: 26px;
    }
  }
}
