header{
    width: 100vw;
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
    z-index: 10;
}


header.logo {
    display: flex;
    flex-direction: row;
    align-self: stretch;
}


header .theme-button{
    cursor: pointer;
    user-select: none;
    
}

.icon{
    width: 64px;
    height: 64px;
    -webkit-mask-image: url(asset/movie-open.svg);
    -webkit-mask-size: contain;
    -webkit-mask-repeat:no-repeat;
    aspect-ratio: 1;
    background-color: rgb(14, 13, 13);
}

.icon2{
    width: 64px;
    height: 64px;
    -webkit-mask-image: url(asset/moon.svg);
    -webkit-mask-size: contain;
    -webkit-mask-repeat:no-repeat;
    aspect-ratio: 1;
    background-color: rgb(243, 235, 235);
}


.icon:hover{
    background-color: rgb(243, 235, 235);
    transition-duration: 0.3s;
}