@import url(https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap);
@import url(../../../common-resources/reset.css);

:root {
  font-family: 'Fira Code', monospace;
  background-color: #111;
}

main {
  pointer-events: none;

  &, & iframe {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
  }
}
