@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');


.io .user-input input {
  width: 100%;
  text-align: center;
  background-color: transparent;
  border: none;
  outline: none;
  font-family: 'Raleway', sans-serif;
  font-size: 15em;
  font-weight: 400;
  color: aliceblue;
  transform: translateY(-0.066em);
}

.io .user-input input::placeholder {
  color: aliceblue;
  font-weight: 600;
}

.io .game-output {
  display: flex;
  align-items: center;
  justify-content: center;

  font-family: 'Raleway', sans-serif;
  font-size: 4em;
  font-weight: 400;
  color: aliceblue;

  transition: all 0.3s ease-in-out;
}

.io .game-output.hidden {
  opacity: 0;
  pointer-events: none;

}

.io .memo {
  position: absolute;
  top: 0 ;
  left: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  padding: 1em;
  font-family: 'Raleway', sans-serif;
  font-size: 2em;
  color: aliceblue;
}

.io .memo .trop-court {
  color: #9235fc;
  
}

.io .memo .trop-long {
  color: #e08c53;
}