@import url(../../../../common-resources/reset.css);

main {
  height: 100vh;
  display: flex;
  flex-direction: row;
}

main > div {
  width: 50%;
}

.left {
  background-image: url(assets/image-1.avif);
  background-size: cover;
  background-position: center;
}

.right {
  padding: 4em;
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  
  overflow: scroll;

  background-color: aliceblue;
}

.right h1 {
  font-size: 4em;
}

.spacer {
  flex: 0 0 10rem;
}

p.lettrine::first-letter {
  font-size: 2em;
  padding-right: 1px;
  line-height: 1rem;
}

.title-block {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.title-block img {
  height: 200px;
}

.title-block .text {
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
}

.title-block .text .separator {
  width: 80px;
  height: 8px;
  background-color: red;
}


