@import url(../../../../common-resources/reset.css);

main {
  height: 100vh;
  display: flex;
  flex-direction: row;
}

main > div {
  width: 50%;
}

.left {
  position: relative;
}

.left .image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity 1.5s cubic-bezier(0.3, 0.8, 0.3, 1);
}

.left .image.hidden {
  opacity: 0;
  transition: opacity 0s linear;
}

.right {
  padding: 4em;
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  
  overflow: scroll;

  background-color: aliceblue;
}

.right h1 {
  font-size: 4em;
}

.spacer {
  flex: 0 0 10rem;
}

p.lettrine::first-letter {
  font-size: 2em;
  padding-right: 1px;
  line-height: 1rem;
}

.title-block {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.title-block img {
  height: 200px;
}

.title-block .text {
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
}

.title-block .text .separator {
  width: 80px;
  height: 8px;
  background-color: red;
}


