.dis .color-a {
    background-color: rgba(212, 147, 147, 0.514);
}

.dis .color-b {
    background-color: rgba(63, 63, 116, 0.199);
}

.dis .color-c {
    background-color: rgba(188, 207, 157, 0.74);
}