
header {
    position: fixed;
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: space-between; */
    padding: 8px;
  }
  
  /* -> Gestion de l'espace du header -> */
  header .logo,
  header .actions {
    flex: 1;
  }
  
  header .menu {
    flex: 2;
  }
  /* <- Gestion de l'espace du header <- */
  
  header .logo {
    display: flex;
    flex-direction: row;
    align-self: stretch;
  }
  
  header .menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 8px;
  }
  
  header .actions {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 8px;
  }
  
  
  
  .logo-icon {
    aspect-ratio: 1 / 1;
    background-color:rgb(41, 77, 192) ;
    
    -webkit-mask-image: url(assets/icone1.svg);
    -webkit-mask-size: contain;
    -webkit-mask-repeat: no-repeat;
  
    transition: all .1s ease-in-out;
    cursor: pointer;
  }
  
  .logo-icon:hover {
    background-color: blue;
  }