body, body * {
    margin: 0;
    box-sizing: border-box;
}

section.intro {
    height: 90vh;
    background-image: url(assets/montagne.webp);
    background-size: cover;
    background-position: center;
}