body {
    font-family: Arial, Helvetica, sans-serif;

}
h1 {
    font-family: 'Oswald', sans-serif;
  }

  img.imagebite {
    width: 30px; 
    height: auto;
  }





  div.icon{
background-color: #ff0099;

  }