@import url(https://fonts.googleapis.com/css2?family=family=Fira+Code:wght@300;400;500;600;700&display=block);
@import url(../../common-resources/reset.css);
@import url(../../common-resources/layout/spacing.css);
@import url(colorful.css);
@import url(header.css);

:root {
  scroll-behavior: none;
  overscroll-behavior: none;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: 'Fira Code', monospace;
}

main {
  position: absolute;
}

.art-container {
  position: absolute;
}
