.rse .petals {
    mix-blend-mode: screen;
}

.rse {
    .petal-1>svg {
        fill: #b41125;
    }

    .petal-2>svg {
        fill: #c80f0f;
    }

    .petal-3>svg {
        fill: #b13014;
    }

    /* .petal-4 > svg { fill: #b15014; }
    .petal-5 > svg { fill: #9c3b11; }
    .petal-6 > svg { fill: #c9440b; }
    .petal-7 > svg { fill: #c93218; }
    .petal-8 > svg { fill: #e2511c; }
    .petal-9 > svg { fill: #b14a06; } */
}

.rse {
    --scroll: 0;
    --scroll-1: 2;
    --scroll-2: 2;
}

.rse .big-petals>svg {
    transform-origin: center;
    transform: scale(var(--scroll-big));
    position: absolute;
    opacity: var(--scroll-2);
    scale: 3;
    fill: none;
    stroke: #fff;
    stroke-width: 0.5px;
}

.rse .core {
    opacity: calc(var(--scroll-1) * 2);
}

.rse .petals {
    --angle: 0deg;
    /* opacity: var(--scroll); */
    transform:
        rotate(var(--angle)) rotate(-30deg) scale(calc(1 + 1 * var(--scroll-1)))
        /* scale(calc(70% + 30% * var(--scroll-1))) */
        translateX(calc(calc(60px * 0.5)* var(--scroll-1))) rotate(30deg);
}

.rse .petals1 {
    --angle: 0deg;
    /* opacity: var(--scroll); */
    transform:
        scale(calc(0.5 * var(--scroll-3))) translateX(calc(calc(60px * 10) * var(--scroll-3)));
}

.rse .flowers {
    position: absolute;
    opacity: var(--scroll-3);
    transform:
        rotate(calc(var(--angle) + 30deg)) translateX(calc(250px * var(--scroll-3))) scale(0.2) rotate(30deg);
}

.rse .big-petals {
    --rotate-big: 0deg  ;

    transform: rotate(calc(var(--scroll-4) * var(--rotate-big)));
}

.rse .big-petal-0 {
    position: absolute;
    z-index: 200;
}

.rse .big-petal-0 > svg{
    stroke: #b13014;
    stroke-width: 2px;
}

.triangles {
    position: absolute;
    --angle: 0deg;
    transform: rotate(calc(60deg * var(--scroll)));
}

.triangles > svg {
    z-index: 20;
    mix-blend-mode: multiply;
    rotate: var(--angle);
    fill: #c80f0f;
    opacity: calc(0.9 * var(--scroll-2));
    transform: 
        translateX(calc(450px * var(--scroll)))
        scale(calc(6 * var(--scroll)))
    ;
}

.triangles1 > svg {
    rotate: var(--angle);
    fill: #fff;
    opacity: calc(0.3 * var(--scroll-4));
    stroke-width: 0.6px;
    transform: 
        translateX(calc(500px * var(--scroll)))
        scale(calc(5 * var(--scroll)))
    ;
}

.triangles2, .triangles3, .triangles4, .triangles5, .triangles6 {
    position: absolute;
    --angle: 0deg;
    transform: rotate(calc(-60deg * var(--scroll)));
}

.triangles2 > svg {
    z-index: 20;
    mix-blend-mode: multiply;
    rotate: var(--angle);
    stroke: #fff;
    stroke-width: 0.6;
    opacity: calc(0.9 * var(--scroll-2));
    transform: 
        translateX(calc(500px * var(--scroll)))
        scale(calc(6 * var(--scroll)))
    ;
}

.triangles3 > svg {
    z-index: 20;
    mix-blend-mode: multiply;
    rotate: var(--angle);
    stroke: #fff;
    stroke-width: 0.6;
    opacity: calc(0.9 * var(--scroll-2));
    transform: 
        translateX(calc(calc(500px + calc(50px * var(--scroll-4))) * var(--scroll)))
        scale(calc(6 * var(--scroll)))
    ;
}

.triangles4 > svg {
    z-index: 20;
    mix-blend-mode: multiply;
    rotate: var(--angle);
    stroke: #fff;
    stroke-width: 0.6;
    opacity: calc(0.9 * var(--scroll-2));
    transform: 
        translateX(calc(calc(500px + calc(100px * var(--scroll-4))) * var(--scroll)))
        scale(calc(6 * var(--scroll)))
    ;
}

.triangles5 > svg {
    z-index: 20;
    mix-blend-mode: multiply;
    rotate: var(--angle);
    stroke: #fff;
    stroke-width: 0.6;
    opacity: calc(0.9 * var(--scroll-2));
    transform: 
        translateX(calc(calc(500px + calc(150px * var(--scroll-4))) * var(--scroll)))
        scale(calc(6 * var(--scroll)))
    ;
}

.triangles6 {
    transform: rotate(calc(-60deg * var(--scroll-4)));
}

.triangles6 > svg {
    position: absolute;
    mix-blend-mode: color-dodge;
    z-index: 30;
    rotate: var(--angle);
    opacity: calc(var(--scroll-5));
    fill: #621010;
    transform: translateX(calc(74px * var(--scroll-5)));
}