@import url(../../../common-projects/eclosion/style/style.css);
@import url(./bud-rse.css);

.rse section {
  height: 100vh;
  font-size: 4rem;
  color: white;
  text-align: center;
}

.rse main section:nth-child(1) {
  background-color: #0e0e0e;
}

.rse main section:nth-child(2) {
  background-color: #1a1a1a;
}

.rse .overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rse .bud {
  --size: 400px;
  flex: 0 0 var(--size);
  height: var(--size);
  perspective: 1200px;
  border: solid 1px red;
}

.rse .bud .layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rse .core {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center ;
}

.rse .core > svg {
  fill: #E4C9C3;
}
