/* Fonts familly */
@import url("https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Fjalla+One&family=Sedgwick+Ave+Display&display=swap&family=Oswald&display=swap");

/* Reset du style */
@import url(../../../../../common-resources/reset.css);

/* Autres pages CSS */
@import url(../page\ principale/header.css);
@import url(split.css);
@import url(../page\ principale/menu-deroulant.css);

/* Bouton principal */
.baise {
    border: none;
    background-color: #ffb64db0;
    color: white;
    padding: 8px 32px;
    font-family: 'Fjalla One', sans-serif;
    cursor: pointer;
    font-size: 20px;
}

.baise:hover {
    background-color: #ffb64d;
}

a {
    border: none;
    text-decoration: none;
}