/* Deuxième section  */
section.developement {
    padding: 64px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: start;
    align-items: center;

    font-family: 'Fjalla One', sans-serif;
}

.developement .imgtxt {
    width: 33vw;
}

.developement .imghor img {
    height: 40vh;
}

.developement .superfrench {
    gap: 16px;
    display: flex;
    flex-direction: row;
}

.developement img.superfrench {
    width: 20vw;    
}

.developement img.imghor {
    display: flex;
    flex-direction: row;
    
}

.developement div.sprtxt {
    width: 20vw;
    gap: 3vh;
    display: flex;
    flex-direction: column;
    padding-top: 3vw;
}

.developement section.developement h1 {
    font-size: 2em;
}

.developement section.developement     p {
    font-size: 1.4em;
}

