@import url(../../../../common-resources/reset.css);
@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@200&display=swap');




body {
    font-family:'Martian Mono', monospace;
  }


main {
    height: 100vh;
    display: flex;
    flex-direction: row;
}

main > div {
width: 50%;
}

div.left{
background-image: url(assets/dewy-spider-web-of-life-1280x1600.jpg);
width: 50%;
height: 100%;
display: flex;
justify-content: left;
}

div.right{
    background-color: black;
    display: flex;
    flex-direction: column;
}

h1{
    font-family:'Martian Mono', monospace;
    font-size: 70px;
    color: whitesmoke;
    padding: 7%;
}

p1 {
    font-family:'Martian Mono', monospace;
    font-size: 18px;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 7%;
    padding-top: 200px;
  }