@import url(../../../../common-resources/reset.css);
@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@200&display=swap');




body {
    font-family: 'Martian Mono', monospace;
}


main {
    height: 100vh;
    display: flex;
    flex-direction: row;
}

main > div {
    width: 50%;
}

div.left {
    background-image: url(assets/dewy-spider-web-of-life-1280x1600.jpg);
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: left;
}

div.right {
    background-color: black;
    display: flex;
    flex-direction: column;
}

h1 {
    font-family: 'Martian Mono', monospace;
    font-size: 70px;
    color: whitesmoke;
    padding: 7%;
}

p {
    font-family: 'Martian Mono', monospace;
    font-size: 18px;
    color: whitesmoke;
    text-align: left;
    padding: 7%;
    padding-top: 200px;
}

p.lettrine::first-letter {
    font-size: 3em;
    padding-right: 1px;
    line-height: 1rem;
    margin-left: -0.15em;
}
