
/* reset css */
body, body * {
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif
}

section.intro {
    height: 90vh;
    background-image: url(assets/background_3.jpg);
    background-size: cover;
    background-position: center;
}