@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

/* c'est juste les marges */
body, body * {
    margin: unset
}

/* ici on change le style */
body {
    background-color:#238650;
    font-family: 'Oswald', sans-serif; 
    font-size: 20px;
    color: aliceblue;

}

/* texte */
h1{
    padding: 10px;

}

p {
    padding: 20px;
    font-size: 40px;
    font-family: 'Raleway', sans-serif;
    color: #21503a;
}

p2 {
    font-size: 30px;
    font-family: 'Rubik', sans-serif;

}

/* sorte de box */
div.gallery {
    height: 400px;
    padding: 32px;
    display: flex;
    flex-direction: row;
}

/* icones */
div.icons {
    display: flex;
    flex-direction: row;
    border: solid 2px #fff ;
    border-radius: 8px;
    margin:16px;
    padding: 4px;
    gap: 4px;

}

div.icon {
    width: 64px;
    height: 64px;
    background-color: #fff3;
    border-radius: 8px;
    background-size: contain;

}

div.icon-1 {
    background-image: url(assets/flower.svg);
}

div.icon-2 {
    background-image: url(assets/flower-poppy.svg);
}