@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');

/* MARGES */
body, body * {
    margin: unset
}


/* STYLE GENERAL */
body {
    background-color:#238650;
    color: aliceblue;

    font-family: 'Oswald', sans-serif; 
    font-size: 20px;

}


/* TEXTE */
h1{
    padding: 10px;

}

p {
    padding: 20px;

    font-size: 40px;
    font-family: 'Raleway', sans-serif;

    color: #21503a;
}

p2 {
    font-size: 30px;
    font-family: 'Raleway', sans-serif;

}

/* LIEN */
/* esthétique lien */
div.box-model-demo {
    margin: 10px;
    padding: 8px;
    border:  solid 2px aliceblue;
    border-radius: 8px;
}

/* IMAGE */
/* sorte de box */
div.gallery {
    height: 400px;
    padding: 32px;

    display: flex;
    flex-direction: row;
}


/* ICONES */
/* boite dans laquelle sont icones */
div.icons {
    display: flex;
    flex-direction: row;

    border: solid 2px #c6e3e6 ;
    border-radius: 8px;

    margin:16px;
    padding: 4px;
    gap: 10px;

}


/* propriétés*/
div.icon {
    width: 64px;
    height: 64px;
    border-radius: 8px;

    background-color: #fff3;
    background-size: contain;

    cursor: pointer;
    transition: all 0.3s ease-in-out;
    
}

/* propiétés survol */
div.icon:hover {
    background-color: #c0709f9d;

    transform: scale(1,1) rotate(-45deg);
    transition-duration: 0.1s;

}

div.icon-1 {
    background-image: url(assets/flower.svg);
}

div.icon-2 {
    background-image: url(assets/flower-poppy.svg);
}

div.troll {
    width: 300px;
    height: 300px;
    background-image: url(https://upload.wikimedia.org/wikipedia/en/9/9a/Trollface_non-free.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    transition: all .2s ease-out;
    cursor: pointer;
  }
  
  div.troll:hover {
    transform: scale(1.1) rotate(-5deg);
  }