
.jnc {
  --scroll: 0;
}

.jnc .core {
  opacity: var(--scroll);
  transform:
    scale(calc(90% + 10% * var(--scroll)));
}

.jnc .petal-a {
  opacity: var(--scroll);
  transform: 
    scale(calc(70% + 30% * var(--scroll)))
    translate(94px, -94px)
    translate(
      calc(-50px * (1 - var(--scroll))), 
      calc(50px * (1 - var(--scroll))));
}