@import url(../../../common-resources/reset.css);

section {
  height: 100vh;
  display: flex;
  justify-content: center;
  font-size: 4em;
  color: aliceblue;
  padding: 2em;
}

section:nth-child(1) {
  background-color: rgb(68, 0, 255);
}

section:nth-child(2) {
  background-color: blue;
}