@import url(../../../../../common-resources/reset.css);

body {

  font-family: Georgia, 'Times New Roman', Times, serif;
}

section {
  height: 100vh;
  display: flex;
  background-color: rgb(40, 40, 54);
}

section.hidden > div {

  transform: scaleY(0);
}

section > div {

  flex: 1 0 0;
  transform-origin: 100% 0%;
}

section > div:nth-child(1) {

  background-color: rgb(45, 45, 175);
  transition: all 1s cubic-bezier(1, 0.01, 0.07, 0.79);
}

section > div:nth-child(2) {

  background-color: rgb(113, 52, 170);
  transition: all 1s cubic-bezier(0.85, 0.1, 0.33, 0.93);
}

section > div:nth-child(3) {

  background-color: rgb(233, 93, 233);
  transition: all 1s cubic-bezier(0.56, 0.14, 0.5, 1);
}

.overlay {

  position: fixed;
  bottom: 0;
  width: 100vw;
  padding: 1em;
  display: flex;
  justify-content: center;

}