@import url("https://fonts.googleapis.com/css2?family=Antonio:wght@100&family=Creepster&family=Italianno&family=Monoton&family=Permanent+Marker&display=swap");

body,
body * {
  margin: 0;
  box-sizing: border-box;
  font-family: "Antonio", sans-serif;
}

button.start{
    appearance: none;
    border: none;
    background-color: beige;
    padding: 16px;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 20px;
}

button.start:hover{
    background-color: black;
    color: aliceblue;
}

h1{
    font-size: 100px;
    margin-top: -35px;
    margin-bottom: 30px;
}



section.intro {
  height: 90vh;
  background-size: cover;
  background-image: url(assets/memoriesofmurder.jpg);
  background-position: center;
  color: aliceblue;
  padding: 32px;
}

section.intro div.left-content {
  width: 33%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
}

section.intro p.subtitle {
  text-transform: uppercase;
}

section.cinema {
    height: 90vh;
    padding: 64px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

section.cinema h1{
    font-size: 50px;
}

/* div.top-menu {
    font-size: 50px;
} */