.eol .color-a {
    background-image: linear-gradient(
      90deg,
      rgb(199, 146, 24),
      rgb(130, 151, 99));
  }
  
  .eol .color-a.alt {
    background-image: linear-gradient(
      rgb(32, 24, 42),
      rgb(20, 15, 27));
  }
  
  .eol .color-b {
    background-color: rgb(185, 80, 48);
  }
  
  .eol .color-c {
    --over-feedback-color: black;
    background-image: linear-gradient(
      rgb(196, 221, 152),
      rgb(244, 255, 225));
  }
  