
  @import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
  @import url(header.css);
  @import url(../../../../common-resources/reset.css);


body, body * {
    margin:0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif, bold;
}



button.start {
    transition: all 0.4s ease-in-out;
    font-size:18px;
    appearance: none;
    border: none;
    background-color: #fff5;
    color: #2b0e02;
    padding:16px;
    cursor:pointer;
    border-radius: 12px;
    width:200px;
    
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
}

button.start:hover{
    
    transform: scale(1.1) translate(10%);
    border: 1px solid #4d1c0b;
}

h1{
    font-size: 80px;
}




section.intro{
    transition: all 3s ease-in-out;
    height: 90vh;
    background-size: cover;
    background-image: url(assets/defile.png);
    background-position: 100% 0%;
    color:#2b0e02;
    padding: 128px;
    font-size:20px;
}

section.intro:hover{
    background-position: 100% 95%;
    transition-duration: 30s;
}



section.intro div.left-content{
    transition: all 0.6s ease-in-out;
    
    width:40%;
    height:70%;
    padding: 100px;
    margin-top:120px;
    margin-left:20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:32px;

    
background: rgba(255, 255, 255, 0.2);
border-radius: 32px;
box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2);
backdrop-filter: blur(20px);
-webkit-backdrop-filter: blur(5px);
border: 2px solid rgba(255, 255, 255, 0.3);
}

section.intro div.left-content:hover{
    transform : skew(2deg,3deg) translate(5%);
    transition-duration: 0.6s;
}



section.intro {
    display: flex;
    flex-direction: row;
}

section.intro div.donut{
    transition: all 1s ease-in-out;
    width:10%;
    display: flex;
    flex-direction: row;
    margin-left: 300px;
    scale: 85%;
}

section.intro div.donut:hover{
    scale: 92%;
    margin-left: 280px;
    margin-top:-50px;
    transform: skew(-2deg,3deg);
    transition-duration: 0.6s;
}


section.intro p.subtitle {
    text-transform: uppercase;
    margin-top:-40px;
}

section.section{
    background-color: #ebe4d9cc;
    margin: 0px;
}

section.blabla {
    height:70vh;
    width: 40%;
    padding:128px;
    display:flex;
    color:#2b0e02;
    flex-direction: column;
    align-items: center;
    gap:48px;
    font-size:18px;
}