
  @import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
  @import url(header.css);
  @import url(../../../../common-resources/reset.css);


body, body * {
    margin:0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif, bold;
}



button.start {
    transition: all 0.6s ease-in-out;
    font-size:18px;
    appearance: none;
    border: none;
    background-color: #fff5;
    color: #2b0e02;
    padding:16px;
    cursor:pointer;
    border-radius: 12px;
    width:200px;
    
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(20px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
}

button.start:hover{
    background-color: #4d1c0bcc;
    color:white;
    transition-duration: 0.4s;
    scale: 1.2;
}

h1{
    font-size: 80px;
}

section.intro{
    height: 85vh;
    background-size: cover;
    background-image: url(assets/donut3.png);
    background-position: 85% 0%;
    color:#2b0e02;
    padding: 128px;
    font-size:20px;
    
}

section.intro div.left-content{
    transition: all 0.6s ease-in-out;
    
    width:40%;
    height:70%;
    padding: 100px;
    margin-top:120px;
    margin-left:20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:32px;

    
background: rgba(255, 255, 255, 0.2);
border-radius: 32px;
box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2);
backdrop-filter: blur(20px);
-webkit-backdrop-filter: blur(5px);
border: 2px solid rgba(255, 255, 255, 0.3);
}

section.intro div.left-content:hover{
    transform : skew(2deg,3deg) translate(3%);
    transition-duration: 0.6s;
}




section.intro p.subtitle {
    text-transform: uppercase;
    margin-top:-40px;
}

section.blabla {
    height:90vh;
    width: 40%;
    padding:64px;
    margin: 120px;
    display:flex;
    color:#2b0e02;
    flex-direction: column;
    align-items: center;
    gap:16px;
}