@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


.input input{
  width: 100%;
  text-align: center;
  background-color: transparent;
  border: none;
  outline: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 10em;
  font-weight: 800;
  color: white;
  transform: translateY(-7%);
}


.input input::placeholder{
  color: #fffa;
}

.output {
  font-family: 'Montserrat', sans-serif;
  font-size: 10em;
  font-weight: 800;
  color: white;
  transform: translateY(-1%);
}


.output.hidden {
  opacity: 0;
  pointer-events: none;
}


.io .memo {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em;
  font-family: 'Montserrat', sans-serif;
  font-size: 2em;
  color: white;
}

.io .memo .too-big {
  color: #115599;
}

.io .memo .too-small {
  color: #ee5599;
}
