/* Reset CSS */
body, body * {
  margin: 0;
  position: relative;
  box-sizing: border-box;
  font-family: inherit; /* Forcer l'usage d'une typo unique */
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Enlever les "ascenseurs" (windows). */
*::-webkit-scrollbar {
  display: none;
}

