.ali .color-a {
    background-color: rgb(255, 185, 185);
}

.ali .color-b {
    background-color: rgb(98, 255, 208);
}

.ali .color-c {
    background-color: yellow;
}


.ali .color-d {
    background-color: rgb(255, 0, 234);
}