@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,300&family=Noto+Sans+Meroitic&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,900&display=swap');


body,body *{
    margin : unset;
}

body {
    font-family: 'Playfair Display', serif;
    font-weight: 300;
    font-size: xxx-large;
    color: #2a624f;
}
h1 {
    font-family: 'Josefin Sans', sans-serif;

}

div.box-model-demo {
    margin: 16px;
    margin-top: 32px;
    border: solid 8px plum;
    padding: 24px;

}

div.icons{
    margin: 16px;
    border: solid 2px rgb(73, 51, 32);
    border-radius: 12px;
    padding: 4px;
    display: flex;
    flex-direction: row;
    gap: 4px;
}

div.icon {
    width: 64px;
    height: 64px;
    background-color: #fff6;
    background-size: contain;
    border-radius: 8px ;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

div.icon:hover {
    background-color: rgb(253, 189, 92);
    transform: scale(2) rotate(360deg);
    transition-duration: 0.1s;
}

div.icon-1{
    background-image: url(bible.svg);
}

div.icon-2{
    background-image: url(book-heart.svg);
}


div.troll {
    width: 300px;
    height: 350px;
    background-image: url(assets/jesus.gif);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: all .2s ease-in-out;
    cursor: pointer;
}

div.troll-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;

}

div.troll:hover {
    transform: scale(1.5) rotate(25deg);
}