
.b3l {
  --scroll: 0;
}

.b3l #petale_g2 {
  opacity: var(--scroll);
  transform-origin: 366px 738px;
  transform:
    scale(calc(70% + 30% * var(--scroll)));
}

.b3l #petale_g1 {
  opacity: var(--scroll);
  transform-origin: 366px 738px;
  transform:
    scale(calc(70% + 30% * var(--scroll)));
}

.b3l #petale_d1 {
  opacity: var(--scroll);
  transform-origin: 366px 738px;
  transform:
    scale(calc(70% + 30% * var(--scroll)));
}

.b3l #petale_d2 {
  opacity: var(--scroll);
  transform-origin: 366px 738px;
  transform:
    scale(calc(70% + 30% * var(--scroll)));
}