@import url(../../../../../common-resources/reset.css);
@import url("https://fonts.googleapis.com/css2?family=Honk&display=swap");

html {
    font-family: "Honk", system-ui;
}

section {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}
.sectionY section {
    flex-direction: row;
}

.sectionY {
    position: fixed;
    top: 0;

    opacity: 0.5;
}

section.hidden > div {
    transform:
        scaleY(0)
        rotate3d(5, 6, 4, 12deg)
        skew(15deg, 23deg)
    ;
}
.sectionY > section.hidden > div {
    transform: scaleX(0);
}

section > div {
    flex: 1 0 0;
}

section > div:nth-child(3n + 1) {
    background-color: #F2C53F;
    transition: all 0.6s cubic-bezier(1, -0.47, 0, 1.46);
    transform-origin: 0 100%;
}

section > div:nth-child(3n + 2) {
    background-color: #E66F1F;
    transition: all 0.6s cubic-bezier(1, -0.47, 0, 1.46);
}

section > div:nth-child(3n + 3) {
    background-color: #E61F8C;
    transition: all 0.6s cubic-bezier(1, -0.47, 0, 1.46);
    transform-origin: 0 0%;
}

.overlay {
    width: 100vw;
    position: fixed;
    bottom: 0;
    padding: 2rem;

    display: flex;
    justify-content: center;
}

.overlay button {
    font-size: 4rem;
    background-color: transparent;
    border: none;
}

.overlay button:hover {
    transform: scale(1.1);
}