.mir{
  --scroll: 0;
}

.mir .core {
  opacity: var(--scroll);
  transform: 
  scale(calc(0.8 + 0.15 * var(--scroll)));
}

.mir .petal-a {
  opacity: var(--scroll);
  transform:
    translate(94px,-94px)
    translate(
      calc(-50px * (1 - var(--scroll))),
      calc(50px * (1 - var(--scroll))));
}