.kev {
  --scroll : 0;
}

.kev .core {
  transform:
    rotate(calc(90deg * var(--scroll)));
}

.kev .petal-a {
  --angle : 0deg;
  opacity: var(--scroll);
  transform:
    rotate(var(--angle))
    scale(calc(70% + 30% * var(--scroll)))
    translate(200px, -300px)
    translate(calc(-50px * (1 - var(--scroll))), calc(50px * (1 - var(--scroll))))
    rotate(calc(60deg * (1 - var(--scroll))))
    rotate(210deg);
}