.kev {
  --scroll : 0;
}

.kev .core {
  opacity: var(--scroll);
  transform:
    scale(calc(90% + 10% * var(--scroll)));
}

.kev .petal-a {
  opacity: var(--scroll);
  transform:
    translate(94px, -94px);
}