div.labite {
    margin: 50px;
    width: 20vw;
    height: 20vw;
    background-image: url(https://www.largus.fr/images/2022-07/La-Bagnole-KG-Auto-002.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

div.labite:hover {
    transform: scale(1.1) rotate(364deg);
}