@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Nag+Mundari:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Nag+Mundari:wght@700&family=Shippori+Antique&display=swap');
@import url(labite.css);



body, body * {
    margin: unset;
}

body { 
    background-color: bisque;
    background-image: src="https://resize-elle.ladmedia.fr/rcrop/1098,768/img/var/plain_site/storage/images/societe/news/le-depute-louis-boyard-lance-un-blocuschallenge-et-cree-la-polemique-4114185/98555092-1-fre-FR/Le-depute-Louis-Boyard-lance-un-BlocusChallenge-et-cree-la-polemique.jpg";
    font-family: 'Shippori Antique', sans-serif;
    color: white;
}

/* Popopooww */

p {
    color: gold;
}

h1 { 
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h2 {
    font-family: 'Noto Sans Nag Mundari', sans-serif;
    color: aqua;
}

div.box-model-demo {
    margin: 16px;
    margin-top: 32px;
    border: solid 8px yellow;
    padding: 24px;
}

div.images {
    height: 400px;
    display: flex;
    gap: 8px;
}

div.poutou {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

div.poutou img {
    height: 150px;
    border-radius: 8px;
}

img.svg_love {
    height: 50px;
}

img.boyard {
    margin: 1%;
    height: 300px;
    width: 98%;
    border-radius: 16px;
}





div.icons {
    margin: 2%;
    border: solid 2px;
    border-radius: 8px;
    padding: 4px;
    display : flex;
    flex-direction: row;
    gap: 4px;

}

div.icon {
    border-radius: 4px;
    height: 128px;
    width: 128px;
    background-color: #ffffffc0;
    background-size: contain;
    transition: all 0.3s ease-in-out;
}

div.icon:hover {    
    background-color: white;
    cursor: pointer;
    transform: scale(1.05) rotate(-1458deg); /* BANGER ANIMATION EN UNE LIGNE POPOPO /!\ */
}

div.icon-1 {
    background-image: url(./assets/blender.svg);
}

div.icon-2 {
    background-image: url(./assets/love.svg);
}

div.icon-3 { background-image: url(./assets/chainsaw.svg); }

div.icon-4 { background-image: url(./assets/water-bottle-large.svg); }

div.icon-5 { background-image: url(./assets/weights.svg); }

div.icon-6 {
    text-align: center;
    text-wrap: wrap;
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

div.shrek {
    color: #00FF00;
}