
header{
    position: fixed;
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: space-between; */
    padding: 8px;
} 

/* Gestion de l'espace */
header .logo{
    flex: 1;
}


header .logo{
    display: flex;
    flex-direction: row;
    align-self: stretch;
}

.logo-icon{
    aspect-ratio: 1 / 1;
    background-color:  rgb(77, 44, 35);
    transition: all .3s ease-in-out;

    -webkit-mask-image: url(assets/art.svg);
    -webkit-mask-size: contain;
    -webkit-mask-repeat: no-repeat;

    transition: all .1s ease-in-out;
    cursor: pointer;
}

.logo-icon:hover{
    background-color:   rgb(255, 170, 13);
}