@import url(../../../../../common-projects/eclosion/style/style.css);
@import url(eclosion.css);

.ing {
  --background-color-1: #f57a5e;
  --background-color-2: #F49C88;
}

.ing main section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4em;
  padding: 2rem;
}

.ing main section:nth-child(1){
  background-image: linear-gradient(var(--background-color-1) 70%, var(--background-color-2));
}

.ing main section:nth-child(2) {
  background-color: var(--background-color-2);
}

.ing .overlay .bud {
  --size: 800px;
  flex: 0 0 var(--size);
  height: var(--size);
}

.ing .overlay .bud .layer {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}