@import url(../../../common-resources/reset.css);
@import url(bud-jnc.css);

body {
  background-color: #111013;
}

section {
  height: 100vh;
  display: flex;
  justify-content: center;
  font-size: 4em;
  color: aliceblue;
  padding: 2rem;
}

section:nth-child(1) {
  background-color: #111013;
}

section:nth-child(2) {
  background-color: #131316;
  align-items: flex-end;
}

.overlay {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay .bud {
  --size: 800px;
  flex: 0 0 var(--size);
  height: var(--size);
  border: solid 1px #fff6;
}

.overlay .bud .layer {
  /* occuper tout la place disponible */
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;

  /* center le contenu: */
  display: flex;
  align-items: center;
  justify-content: center;
}




