@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ruda:wght@400;500;600;700;800;900&display=swap');

/* Reset CSS */
body, body *{
    margin: unset;
}

body {
    background-color: antiquewhite;
    font-family: 'Jost', sans-serif;
    font-size: large;

}

h1 {
    font-family: 'Ruda', sans-serif;
    font-size:larger }

p2 {
    font-family: 'Ruda', sans-serif;
    font-style: italic;
    font-size: small
}

div.box-model-demo{

    margin: 16px;
    margin-top: 32px;
    padding: 24px;
    border: solid 8px rgb(79, 71, 53);
}

div.gallery{
    height: 360px;
    padding: 32px;
    display: flex;
    flex-direction: row;
    gap: 16px;
}

div.icons{
    margin: 16px;
    border: solid 2px #fff;
    border-radius: 12px;
    padding: 4px;
    display: flex;
    flex-direction: row;
    gap: 4px;
}

div.icon{
    width: 64px;
    height: 64px;
    background-color: #9994 ;
    background-size: contain;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

div.icon:hover {
    background-color: rgb(168, 192, 192);
    transform: scale(1,1) rotate(-5deg);
    transition-duration: 0.1s;
}

div.icon-1 {
    background-image: url(assets/cat-light.svg);
}

div.icon-2 {
    background-image: url(assets/cat-outline.svg);

    
div.troll {
    width: 300px;
    height: 300px;
    background-image: url(https://upload.wikimedia.org/wikipedia/en/9/9a/Trollface_non-free.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    transition: all .2s ease-out;
    cursor: pointer;
  }
  
  div.troll:hover {
    transform: scale(1.1) rotate(-5deg);
  }
}