@import url(../../../../common-resources/reset.css);

main {
    position: relative;

    width: 100vw;
    height: 100vh;
    background-color: #28366e;

    overflow: hidden;
}

.arrow {

    --angle : 1200deg;
    position: absolute;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: row;
}

.arrow > div {
    flex: 2;
    align-self: stretch;
}

/* UUUUUP: */
.arrow.up{
    top: 100%;
}

.arrow.up > div{
    background-image: linear-gradient(
      rgb(209, 141, 209) , 
      #eedfae);
}

.arrow.up > .left{
    transform: skewY(calc(var(--angle)* -1));
    transform-origin: top right;
}

.arrow.up > .right{
    transform: skewY(var(--angle));
    transform-origin: top left;
}

/* down */
.arrow.down{
    bottom: 73%;
}


.arrow.down > div{
    background-image: linear-gradient(
      #f4a6f7,
      #BFCC86 );
}

.arrow.down > .left{
    transform: skewY(var(--angle));
    transform-origin: top right;
}

.arrow.down > .right{
    transform: skewY(calc(var(--angle)*-1));
    transform-origin: top left;
}
