header {
  position: fixed;
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

header button.start {
  align-self: center;
  width: 150px;
  padding: 5px 60px;
  font-size: 20px;
}

.menu button {
  appearance: none;
  border: none;
  background-color: beige;
  padding: 10px;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 20px;
  width: 160px;
  font-size: 20px;
}

header .menu {
  justify-content: center;
  display: flex;
  flex-direction: row;
  gap: 16px;
}

header .logo {
  display: flex;
  flex-direction: row;
  align-self: stretch;
}

header .logo,
header .actions {
  flex: 1;
}

header .menu {
  flex: 2;
}

header .actions {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 8px;
}

header .logo-icon {
  background-color: rgb(255, 255, 255);
  aspect-ratio: 1/1;
  -webkit-mask-image: url(assets/two-hump-camel.svg);
  -webkit-mask-size: contain;
}

header .logo-icon:hover {
  -webkit-mask-image: url(assets/logo.webp);
  background-color: rgb(117, 57, 109);
}
