@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap");
@import url(header.css);
section.intro {
  background-image: url(./asset/dubai.jpg);
}

body,
body * {
  margin: 0;
  box-sizing: border-box;
}



body {
  font-family: "Fjalla One", sans-serif;
}

button.start {
appearance: none;
border: none;
background-color: skyblue;
color: black;
padding: 10px;
text-transform: uppercase;
border-radius: 20px;
cursor: pointer;


}

button.start:hover {
    background-color:rgb(58, 97, 58,50);
    color: aliceblue;
    
    }

section.intro {
  height: 90vh;
  background-image: url(./asset/dubai.jpg);
  background-size: cover;
  color: aliceblue;
  padding: 32px;
}

section.intro div.left-content {
  width: 33%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
}

div.left-content h1 {
  color: skyblue;

}

section.intro div.left-content p.un {
  color: black;
}

section.blabla { 
    height: 90vh;
    padding: 64px;
    display: flex;
    flex-direction: column;
    gap: 16px ;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
}

h1 {
font-size: 45px;

}