
@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Monsieur+La+Doulaise&display=swap');
@import url(header.css);

body, body * {
margin: 0;
box-sizing: border-box;
}

p.subtitle {
    font-size: 32px;
    font-family: 'Cinzel',serif;
    color: white;
}

h1 {
    font-size: 32px;
    font-family: 'Cinzel',serif;
    color: white;
}

section.intro {
    height: 100vh;
    background-image: url(assets/210928115722-01-neanderthals-cave-gibraltar-scn-scli-intl.jpg);
    background-size: cover;
    background-position: center;
    color: white;
}

section.intro div.middle-content{
    width: 30%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

button.start1 {
    appearance: none;
    border: none;
    backdrop-filter: blur(16px);
    color: black;
    padding:0 16px;
    text-transform: capitalize;
    border-radius: 0px;
    cursor: pointer;
  }
  
  button.start1:hover {
    background-color: blue;
    color: white;
  }