.gra .color-a{
    background-color: rgb(255, 195, 84);
}

.gra .color-b{
    background-color: lightblue;
}

.gra .color-c{
    background-color: lightcoral;
}

.gra .color-d{
    background-color: aliceblue;
}

.cercle{
    border-radius: 50% 0% 50%;
    background-image: linear-gradient(rgb(255, 195, 84),lightblue);
}



