@import url(../../../common-resources/reset.css);
@import url(bud-kev.css);

body{
  background-color: green;
}

.container {
  position: relative;
  width: 100%;
  height: 100vh;
  scroll-behavior: smooth;
  /* overflow: scroll; */
  scroll-snap-type: y mandatory;
}

section{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-snap-align: start;
  scroll-snap-stop: always;
}

section:nth-child(1){
  background-color: #61A3FF;
}

section:nth-child(2){
  background-color: #2F2D70;
  align-items: flex-end;
}

.overlay{
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay .bud{
  --size: 800px;
  flex: 0 0 var(--size);
  width: var(--size);
  height: var(--size);
}


.overlay .bud .layer{
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}