@import url(../../../../../common-projects/eclosion/style/style.css);
@import url(eclosion.css);

.cxs {
  --background-color-1: #304553;
  --background-color-2: #3b3751;
}

.cxs main section:nth-child(1) {
  background-image: linear-gradient(var(--background-color-1) 70%, var(--background-color-2));
}

.cxs main section:nth-child(2) {
  background-color: var(--background-color-2);
}
