@import url('https://fonts.googleapis.com/css2?family=Monsieur+La+Doulaise&display=swap');

body, body * {
    margin: unset; 
}

h1 {
    font-size: 160px;
    font-family: 'Monsieur La Doulaise', cursive;
    color: azure;
}

