@import url('https://fonts.googleapis.com/css2?family=Monsieur+La+Doulaise&display=swap');

/*Reset*/
body, body * {
    margin: unset; 
    color: beige;
}

body {
    background-color: black;
}

h1 {
    font-size: 160px;
    font-family: 'Monsieur La Doulaise', cursive;
    color: azure;
}

.gallery{
    height: 360;
    padding: 32px;
    display: flex;
    flex-direction: row;
    background-color: #fff9;
    background-size: contain;
    border-radius: 5px;
}

div.icon {
    width: 64px;
    height: 64px;
    background-color: #fff6;
    background-size: contain;
    border-radius: 8px;
    cursor: pointer; 
    transition: all 0.3s ease-in-out; /* BANGER! Animation en 1 ligne. */
  }
  
  div.icon:hover {
    background-color: rgb(242, 245, 43);
    transform: scale(1.1) rotate(-5deg);
    transition-duration: 0.1s;
  }
  
  div.icon-1 {
    background-image: url(assets/icon1.svg);
  }
  
  div.icon-2 {
    background-image: url(assets/icon2.svg);
  }