@import url(../../../common-resources/reset.css);

.eclosion {
  --bud-size: 800px;

  position: fixed;
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  background-color: #202020;
  color: #e0e0e0;

  none {}

  button.fullscreen {
    --size: 3em;

    position: absolute;
    top: 0;
    right: 0;
    margin: 0.5em;

    width: var(--size);
    height: var(--size);
    background-color: white;
    border: none;

    mask-image: url(../../../common-resources/assets/baseline-fullscreen.svg);
    -webkit-mask-image: url(../../../common-resources/assets/baseline-fullscreen.svg);
    mask-size: contain;
    -webkit-mask-size: contain;

    cursor: pointer;

    :root:fullscreen & {
      display: none;
    }
  }

  .hidden {
    visibility: hidden;
  }

  main {
    height: 100vh;
    overflow: scroll;
  }

  section {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
  }

  section:nth-child(2n) {
    background-color: #303030;
  }

  section:nth-child(2n + 1) {
    background-color: #252525;
  }

  .overlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .bud {
    flex: 0 0 var(--bud-size);
    height: var(--bud-size);
    /* border: solid 1px #fff6; */
  }

  .layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}